* {
    padding: 0;
    margin: 0;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url(assets/pokemon-pokemongo-icon-1320190500519737353\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-color: black;

}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

}

#logoImg {
    height: 80px;
    width: 100px;
    border-radius: 50%;
}

.header-types {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

.header-types img {
    height: 50px;
    width: 50px;
    border-radius: 30%;
}


/*poke-card*/
.poke-items {
    display: none;
}

.poke-items:target {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 50px;

}

.poke-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 40%;
    font-weight: bold;
}

.poke-card img {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;

}

.poke-card ul {
    padding: 5px;
    border-radius: 10px;
}

.evolution {
    border-radius: 20px;
    padding: 5px;
}

/* toDoReview */
.toDoReview {
    display: none;
}

.toDoReview:target {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

form input {
    padding: 10px;
    width: 35%;
    text-align: center;
}

form input:nth-child(2) {
    height: 80px;

}

form button {
    padding: 10px;
    border-radius: 10%;
    box-shadow: 5px 5px;
}

ul {
    background-color: aliceblue;
}


/*Developer-Conctact*/
#Developer-Conctact {
    display: none;
}

#Developer-Conctact:target {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 150px auto;
    /* Adjust margin to center vertically */
    gap: 10px;
    font-weight: bold;
    border: 2px solid black;
    align-items: center;
    width: fit-content;
    background-color: whitesmoke;
}

/*Footer */
footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding: 15px;
    color: beige;
}


/* Popup View */
.popup-view {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(220, 3%, 74%, 0.75);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.popup-view.active {
    opacity: 1;
    visibility: visible;
}

.popImg {
    background: radial-gradient(circle, #ffcc00, hsl(123, 100%, 80%));
}

.popImg img {
    height: 300px;
    width: 500px;
}

.popup-view a img {
    display: flex;
    justify-content: end;
    height: 50px;
    width: 50px;
}

.closeBtn {
    margin-left: 80%;
}

.popup-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

.popup-details button {
    padding: 10px;
    width: 250px;
    background-color: #009DD2;
    border-radius: 20px;
}